/* your custom styles here */
.belion .navbar-brand.navbar-logo-bigger > img {
	top: -30px;
}

.belion .col-md-6 {
	padding-left: 10px;
}

.fa-stack .numbers {
	color: white;
}

.fa-stack {
	margin-right: 3px;
}

html, body, .container {
	height: 100%;
}

.belion footer {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.belion .my-container {
	padding-bottom: 50px;
}

.belion .wrapper {
	min-height: 100%;
    position: relative;
}

#top_image {
	margin-top: 65px;
}

.underline {
	text-decoration: underline;
}

a.big-link {
	font-size: 23px;
	font-weight: bold;
}

h4 {
	margin-top: 0;
}

.portfolio-container {
	margin-top: 50px;
}

.address-label {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

.address-value {
	display: inline-block;
	vertical-align: top;
}

.address-entry {
	margin-top: 15px;
	float: left;
	clear: left;
}

.navbar #main-nav li.active, .navbar #main-nav li:hover {
	background-color: #355987;
}

.navbar #main-nav li.active a, .navbar #main-nav li:hover a {
	color: #fff;
}